<% title "Tabla comparativa de respuestas para #{@user.full_name}" %>

<table>
  <tr>
    <th>#</th>
    <th>Pregunta</th>
    <th>Penúltima respuesta</th>
    <th>Última respuesta</th>
  </tr>
  <% i = 0 %>
  <% for question in @questions do %>
  <tr> 
    <td><%= (i+1) %></td>
    <td><%= question.description %>
      <% if question.category == 'nested' %>
      <ul>
	<% for subquestion in question.subquestions do %>
	<li><%= subquestion.description %></li>
	<% end %>
      </ul>
      <% elsif question.category == 'scale' %>
      <% scale = question.question_scale %>
      <dl>
	<dt>Izquierda: </dt><dd><%= scale.lower %></dd>
	<dt>Derecha: </dt><dd><%= scale.higher %></dd>
      </dl>
      <% end %>
    </td>
    <% for answers in @last_answers do %>
    <td>
      <% for ans in answers[i] do %>
      <ul>
	<% break if ans.gsub(' ', '').empty? %>
	<% this_ans = Answer.find(ans) %>
	<li>
	  <%= this_ans.description %>
	  <% if this_ans.description.to_i < 0 %>
	     <%= " - hacia la izquierda" %>
	     <% elsif this.ans.description.to_i > 0 %>
	  <%= " - hacia la derecha" %>
	     <% end %>
	</li>
      </ul>
      <% end %>
    </td>
    <% end %>
    <% i += 1 %>
  </tr>
  <% end %>
</table>
