<% title "Tabla comparativa de respuestas para #{@user.full_name}" %>
<div class="table">
  <table>
    <tr>
      <th>#</th>
      <th>Pregunta</th>
      <th><%= "Penúltima respuesta #{@last_surveys[0].date}"%></th>
      <th><%= "Última respuesta #{@last_surveys[1].date}" %></th>
    </tr>
    <% @questions.zip(@last_answers[0], @last_answers[1]) do |q, a1, a2| %>
    <tr> 
      <td><%= q.number %></td>
      <td><%= q.description %>
	<%= question_additional_info q %>
      </td>
      <td>
	<%= list_for_answers a1 %>
      </td>
      <td>
	<%= list_for_answers a2 %>
      </td>
    </tr>
    <% end %>
  </table>
  
</div>
  
<p class="survey-date">
  <strong>Fecha de penúltima encuesta: </strong><%= @last_surveys.first.date%>
</p>
<p class="survey-date">
  <strong>Fecha de última encuesta: </strong><%= @last_surveys.last.date %>
</p>
