<% title "Survey Records" %>

<table>
  <tr>
    <th>User</th>
    <th>Answers</th>
  </tr>
  <% for survey_record in @survey_records %>
    <tr>
      <td><%=h survey_record.user_id %></td>
      <td><%=h survey_record.answers %></td>
      <td><%= link_to "Show", survey_record %></td>
      <td><%= link_to "Edit", edit_survey_record_path(survey_record) %></td>
      <td><%= link_to "Destroy", survey_record, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Survey Record", new_survey_record_path %></p>
