<% form_for @company_role do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :hierarchy %><br />
    <%= f.text_field :hierarchy %>
  </p>
  <p><%= f.submit %></p>
<% end %>
