<% field_set_tag "Información" do %>
<% form_for [@company,@user]  do |f| %>

  <%= f.error_messages %>
  <dl>
    
    <dt><%= f.label :name, "Nombre" %></dt>
    <dd><%= f.text_field :name %></dd>
  
  
    <dt><%= f.label :last_name, "Apellido" %></dt>
    <dd><%= f.text_field :last_name %></dd>
  
  
    <dt><%= f.label :phone, "Teléfono"%></dt>
    <dd><%= f.text_field :phone %></dd>
    
    
    <dt><%= f.label :email, "Correo electrónico" %></dt>
    <dd><%= f.text_field :email %></dd>
  

    <dt><%= f.label :username, "Usuario" %></dt>
    <dd><%= f.text_field :username %></dd> 
  
    
    <dt><%= f.label :password, "Contraseña" %></dt>
    <dd><%= f.password_field :password %></dd>
    
    <dt><%= f.label :password_confirmation, "Confirmar contraseña" %></dt>
    <dd><%= f.password_field :password_confirmation %></dt>
</dl>
<span id="send"><%= f.submit "Registrar" %></span>
<% end %>
<% end %>
