<% title "#{@user.name} " %>

<p>
  <strong>Login:</strong>
  <%=h @user.username %>
</p>
<p>
  <strong>Nombre:</strong>
  <%=h @user.name %>
</p>
<p>
  <strong>Apellido:</strong>
  <%=h @user.last_name %>
</p>
<p>
  <strong>Correo electronico:</strong>
  <%=h @user.email %>
</p>

<p>
  <%= link_to "Editar", edit_user_path(@user) %> |
  <%= link_to "Eliminar",@user , :confirm => 'Are you sure?', :method => :delete %>|
  <%= link_to "Empresa del usuario", @user.company%>

</p>
