<div class = "answer">
  <h3>Respuestas</h3>
  <p><%= f.label :number, "Número de pregunta" %><br/>
  <%= f.text_field :number %></p>
  <p><%= f.label :description, "Texto de la respuesta" %><br/>
  <%= f.text_field :description %></p>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Eliminar" %>
</div>
