<% edit = local_assigns[:edit] || false %>

<% field_set_tag "Información" do %>
<% form_for @company do |f| %>
  <%= f.error_messages %>
  <dl>
    <dt><%= f.label :nit, "NIT de la empresa" %></dt>
    <dd><%= f.text_field :nit %></dd>

    <dt><%= f.label :name, "Nombre" %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= f.label :email, "Correo electronico" %></dt>
    <dd><%= f.text_field :email %></dd>

    <dt><%= f.label :telephone, "Telefono" %></dt>
    <dd><%= f.text_field :telephone %></dd>
  
    <dt><%= f.label :login, "Usuario" %></dt>
    <dd><%= f.text_field :login %></dd>

    <dt><%= f.label :password, "Contraseña" %><dt>
    <dd><%= f.password_field :password %></dd>
  
  
    <dt><%= f.label :password_confirmation, "Confirmar contraseña" %></dt>
    <dd><%= f.password_field :password_confirmation %></dd>
    
    <dt><%= f.label :subsector_id, "Subsector:" %></dt>
     <dd><%= f.select :subsector_id, options_from_collection_for_select(Subsector.all, "id", "name"), :selected => @company.subsector_id  %></dd>
    
  </dl>
  <span id="send"><%= f.submit "Registrar" %></span>
<% end %>
<% end %>
