<% title "Empresas" %>
  <% for company in @companies %>
   <div class= "company">
      <h3><%= "Nombre: #{company.name}" %></h3>
      <p><strong>NIT de la empresa:</strong>
	 <%= company.nit%>
      </p>
       <p><strong>Correo electronico:</strong>
	 <%= company.email%>
      </p>
       <p><strong>Promedios:</strong>
	 <%= company.averages %>
       </p>
       <% if admin_company?(current_company) or admin_company_user?(current_user) %>
        <p><%= link_to "Información de la Empresa", company %></p>
        <p><%= link_to "Eliminar",  current_company, :confirm => 'Esta seguro?', :method => :delete %></p>
      <% end %>
    </div>
  <% end %>
