<% title "Lista de usuarios de #{@company.name}" %>

<br />
<% if @users.size > 0 %>
<table id="users-table">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Teléfono</th>
    <th>Fecha de última encuesta</th>
  </tr>
  <% for user in @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.survey_records.last.date if user.survey_records.last %></td>
      <td class="no-cell">
	<%= link_to "Editar", edit_user_path(user) %></td>
      <td class="no-cell">
	<%= link_to "Eliminar", user, :confirm => "¿Está seguro que desea eliminar este usuario?", :method => :delete %></td>
    </tr>    
<% end %>
</table>
<span id="new-user">
  <%= link_to "Agregar usuario", new_company_user_path(@company) %>
</span>
<% else %>
<p>La empresa no tiene usuarios en el momento. Para ingresar un usuario haga clic en <%= link_to "agregar usuario", new_company_user_path(@company) %></p>
<% end %>
