
<div class= center>
<% if  session[:current_company] %>
  <div class="manejo">
    <%= link_to "Editar", edit_company_path(@company) %> |
    <%= link_to "Eliminar", @company, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "Agregar usuario", new_company_user_path(@company) %>
  </div>
<% end %>
<h1><%= @company.name %></h1>
<div class= "information">
    <h3>Información general</h3>
    <p>
      <strong>Nit:</strong>
      <%=h @company.nit %>
    </p>
    <p>
      <strong>Email:</strong>
      <%=h @company.email %>
    </p>
    <p>
      <strong>Telephone:</strong>
      <%=h @company.telephone %>
    </p>
</div>
<div class= "users_list">
    <h3>Lista de usuarios</h3>
    <% for user in @company.users do %>
       <h3><%= link_to  user.name, user %></h3>
    <% end %>
</div>
</div>

