<% title "Encuesta" %>

<strong><%= @question.number %></strong>
<p><%= @question.description %></p>
<% form_tag do %>
<% for  answer in @question.answers do %>
<%= radio_button_tag 'answer', answer.id %><%= answer.description %><br />
<% end %>
<%= submit_tag "Siguiente", :number => @question.number %> 
<% end %>
