<% title "Encuesta" %>

<%= fill_aspects(@question.aspect) %>

<div id="survey-question">
  <p><strong><%= @question.number %>. </strong>
    <%= @question.description %></p>
  
  <% form_tag do %>
  
  <%= render :partial => @question.category %>
  <%= hidden_field_tag 'question', @question.id %>
  
  <span id="next">
    <%= submit_tag "Siguiente" %>
  </span> 
  <% end %>
</div>
