<% title "Encuesta" %>
<div id="all-aspect">
  <% for aspect in @aspects do %>
     <div title =  "<%= "#{aspect.name}" %>" class="aspect" <%= 'id="current-aspect"' if aspect == @question.aspect %>>
       <abbr  title = "<%= "#{aspect.name}" %>" ><%= aspect.number %></abbr>
     </div>
  <% end %>
</div>

<strong><%= @question.number %>. </strong>
<em><%= @question.description %></em>

<% form_tag do %>

<%= render :partial => @question.category %>
<%= hidden_field_tag 'question', @question.id %>

<%= submit_tag "Siguiente" %> 
<% end %>
