<div class= "contentWrap" id= "login">
 <div class= "all-login">
  <div class= "cancel"><%= link_to (image_tag "close.png"), root_url %></div>
  <div class= "login-content">
    <h1>Ingreso compañia</h1>
    <% form_for @company_session do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :login,"Ingrese login de la empresa" %><br />
      <%= f.text_field :login %>
    </p>
    <p>
      <%= f.label :password, "Ingrese contraseña de la empresa" %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit "Ingresar"%>
    </p>
    <% end %>  
  </div>
 </div>
</div>


