<div class = "index-companies">
  <% if current_user.nil? %>
  <h3>Empresa</h3>
  <% if current_company %>
  <p><%= link_to "Inicio", current_company%></p>
  <p><%= link_to "Ver resultados", :controller => :chart, :action => :index, :id => "company_#{current_company.id}" %></p>  
  <p><%= link_to "Gestión de usuarios", show_users_company_path(current_company) %></p>
  <p><%= link_to "Editar información", edit_company_path(current_company)%></p>
  <p><%= link_to "Eliminar",  current_company, :confirm => "¿Está seguro que desea elminar la cuenta de la empresa?", :method => :delete %></p>
  <p><%= link_to "Salir de la empresa", logout_company_path %></p>
  <% else %>
  <p><%= link_to "Registrar empresa", new_company_path %></p>
  <p><%= link_to "Ingreso para actualizar empresa", admin_company_path, :rel => "#overlay", :class => "modalDialog" %></p>
  <% end %>
  <% end %>
</div>
