<div class= "index-users">
  <% if current_company.nil? %>
  <h3>Opciones Usuario</h3>
    <% if current_user %>    
      <p><%= link_to "Inicio", current_user %></p>
      <p><%= link_to "Editar perfil", edit_user_path(current_user) %></p> 
      <p><%= link_to "Realizar encuesta", survey_path(Survey.find_by_name('Principal')) %></p>
      <p><%= link_to "Ver resultados", :controller => :chart, :action => :index, :id => "user_#{current_user.id}" %></p>
      <p><%= link_to "Encuesta de evaluación", survey_path(Survey.find_by_name('Evaluation')) %></p>
      <p><%= link_to "Terminar sesion", logout_path %></p> 	  
    <% else %>
      <p><%= link_to "Iniciar sesion", login_path, :rel => "#overlay", :class => "modalDialog" %></p> 
    <% end %>
  <% end %>
</div>








