<% if admin_company?(current_company) %>
  <p><%= link_to "Agregar usuario", new_company_user_path(current_company) %></p>
  <p><%= link_to "Gesti贸n de empresas", companies_path %></p>
  <p><%= link_to "Eliminar",  current_company, :confirm => 'Esta seguro?', :method => :delete %></p>
  <p><%= link_to "Salir de administraci贸n", logout_company_path %></p>
<% else %>
  <% if admin_company_user?(current_user) %>
    <p><%= link_to "Gesti贸n de empresas", companies_path %></p>
    <p><%= link_to "Editar", edit_user_path(current_user)%></p>
    <p><%= link_to "Salir de administraci贸n ", logout_path %></p>
  <% end %>
<% end %>


